<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         verbose="true"
         syntaxCheck="false"
         stopOnError="false"
         stopOnFailure="true"
         processIsolation="false"
         bootstrap="bootstrap.php"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="Refactor test">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
